.showcase {
  padding: 7rem 0;
  background-color: rgb(236, 232, 232);
}

.row-style {
  display: flex;
}

.center {
  text-align: center;
}

.container {
  max-width: 1280px;
  padding: 0 10px;
  margin: 0 auto;
}

.showcase-content {
  width: 45%;
  margin: 0 auto;
}

.tagline {
  font-size: 2rem;
  padding-bottom: 2px;
}

.bottom-line {
  border-bottom: 1px solid rgb(163, 160, 160);
  width: 150px;
  margin: 1.5rem auto;
}

input {
  width: 100%;
  height: 40px;
}

.input-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 0.6rem;
}

.search-btn {
  font-size: 1rem;
  cursor: pointer;
  background: var(--main-color);
}

.section-products-list {
  width: 80%;
  margin: 0 auto;
}

.heading + div {
  margin: 2rem 0;
}

.three-col-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2.5rem;
}

.no-result {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .showcase-content {
    width: 90%;
  }
}
