/* @font-face {
  font-family: "FSM-R";
  src: url("./fonts/FSM-R.otf") format("opentype");
} */

@font-face {
  font-family: "Geomanist-R";
  src: url("./fonts/geomanist-R.ttf") format("truetype");
}

* {
  font-family: "Geomanist-R";
}
