@font-face {
  font-family: "FSM-R";
  src: url("./fonts/FSM-R.otf") format("opentype");
}
@font-face {
  font-family: "PS";
  src: url("./fonts/PeaceSans.otf") format("opentype");
}

* {
  font-family: "FSM-R";
}
